# Gradle
.gradle/
build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Output
*.apk
*.aab
*.ap_
*.dex

# Sistema operativo
.DS_Store

# Kotlin
.kotlin/
